<div class="container">
  <div *ngIf="sortView">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-12 col-md-12 center-div">
          <div class="btn-group btn-group-fw" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-padding-lr">
              <i class="glyphicon glyphicon-list"></i>
              <div class="view-btn-text">
                List
              </div>
            </button>
            <button type="button" class="btn btn-default btn-padding-lr">
              <i class="glyphicon glyphicon-map-marker"></i>
              <div class="view-btn-text">
                Map
              </div>
            </button>
            <button type="button" class="btn btn-default btn-padding-lr active"
              (click)="sortList()">
              <i class="glyphicon glyphicon-chevron-up"></i>
              <div class="view-btn-text">
                Sort
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="row margin-top-sort">
        <div class="col-sm-12 col-md-12 center-div">
          <div class="btn-group btn-group-fw" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-padding-lr-sort">
              <i class="glyphicon glyphicon-star"></i>
              <div class="view-btn-text">
                Highest Rating
              </div>
            </button>
            <button type="button" class="btn btn-default btn-padding-lr-sort">
              <i class="glyphicon glyphicon-user"></i>
              <div class="view-btn-text">
                Most reviewed
              </div>
            </button>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="row">
    <h1><i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-2x"></i></h1>
    <div *ngFor="let dine of diners" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{dine.photoUrl}}" alt="{{dine.icon}}">
        <div class="caption">
          <h3>{{ dine.name }}</h3>
          <p *ngIf="dine.rating >= 0 && dine.rating < 1">
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i> | {{ dine.numberOfReviews }}
          </p>
          <p *ngIf="dine.rating >= 1 && dine.rating < 2">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i> | {{ dine.numberOfReviews }}
          </p>
          <p *ngIf="dine.rating >= 2 && dine.rating < 3">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i> | {{ dine.numberOfReviews }}
          </p>
          <p *ngIf="dine.rating >= 3 && dine.rating < 4">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
          <i class="glyphicon glyphicon-star-empty"></i> | {{ dine.numberOfReviews }}
          </p>
          <p *ngIf="dine.rating >= 4 && dine.rating < 5">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star-empty"></i> | {{ dine.numberOfReviews }}
          </p>
          <p *ngIf="dine.rating >= 5">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i> | {{ dine.numberOfReviews }}
          </p>
          <p>{{ dine.location }}</p>
          <p>Call: {{ dine.phoneNumber }}</p>
          <p><a target="_blank" href="{{ dine.url }}" class="btn btn-primary btn-bottom" role="button">Directions</a></p>
        </div>
      </div>
    </div>
  </div>
