h1{
  text-align: center;
}

img {
  object-fit: cover;
  width:242px;
  height:200px;
}


.thumbnail{
  min-height: 455px;
}


.btn-bottom{
  bottom: 21;
  position: absolute;
  margin-bottom: 15;
}

.center-div{
  text-align: center;
}

.btn-padding-lr{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-padding-lr-sort{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.view-btn-text{
  font-size: 1.3em;
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.margin-top-sort{
  margin-top: 20px;
}

.jumbotron{
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  .view-btn-text{
    font-size: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .glyphicon{
    font-size: 0.9em;
  }

  .btn-padding-lr{
    padding-left: 1.0em;
    padding-right: 1.0em;
    min-width: 33.33%;
  }

  .btn-padding-lr-sort{
    padding-left: 0.4em;
    padding-right: 0.4em;
    min-width: 50%;
  }

  .btn-group-fw{
    width: 100%;
  }
}
