h1{
  text-align: center;
}

img {
  object-fit: cover;
  width:242px;
  height:200px;
}


.thumbnail{
  min-height: 455px;
}


.btn-bottom{
  bottom: 21;
  position: absolute;
  margin-bottom: 15;
}

.center-div{
  text-align: center;
}

.btn-padding-lr{
  font-size: 0.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-padding-lr-sort{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.view-btn-text{
  font-size: 1.3em;
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.margin-top-sort{
  margin-top: 20px;
}

.jumbotron{
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-under-sort{
  margin-bottom: 60px;
}

.sort-category{
}

.thick-border-left{
  border-left-width: 1.5px;
}

.thick-border-right{
  border-right-width: 1.5px;
}

.reduce-opacity{
  opacity: 0.5;
}

.sebm-google-map-container{
  height: 85vh;
  width: 100%;
}

.media-object{
  width: 64px;
  height: 64px;
}

.list-max-height{
  overflow: auto;
  max-height: 85vh;
}

.media{
  cursor: pointer;
  opacity: 0.9;
}

.media:hover{
  opacity: 1.0;
}

@media (max-width: 700px) {
  .view-btn-text{
    display: none;
    font-size: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  .gly-menu{
    font-size: 1.5em;
  }

  .btn-padding-lr{
    padding-left: 1.0em;
    padding-right: 1.0em;
    min-width: 25%;
  }

  .btn-group-fw{
    width: 100%;
  }

  .sebm-google-map-container{
    height: 50vh;
  }

  .list-max-height{
    max-height: 30vh;
    margin-bottom: 20px;
  }
}
